<div class="contextual">
  <%= link_to 'Map Pivotal Users', {:action => 'pivotal_users'}, :class => 'icon icon-user' %>
  <%= link_to 'Import User Pivotal ID', {:action => 'import_users'}, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-summary' %>
  <%= link_to 'Perform Import', {:action => 'pivotal_importer'}, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-summary' %>

  <%= link_to 'New mapping', {:action => 'new'}, :class => 'icon icon-add' %>
</div>

<h2>Pivotal <-> Redmine Mappings</h2>

<table class="list">

  <thead>
    <tr>
    	<th>
    	  Redmine project
     	</th>
     	<th>
    	  Pivotal Tracker project
	    </th>
      <th>
        Label
      </th>
      <th>
      </th>
  	</tr>
  </thead>

  <tbody>

  <% unless @mappings.any? %>
    <tr class="nodata">
      <td colspan="4">
          No mappings defined so far...
      </td>
    </tr>

  <% end %>
  <% @mappings.each do |mapping|%>
    <tr>
    	<td>
        <%= link_to mapping.project.name, project_path(mapping.project) %>
      </td>
      <td>

        <%= link_to mapping.tracker_project_name, "https://www.pivotaltracker.com/n/projects/#{mapping.tracker_project_id}", target: '_blank' %>
      </td>
      <td>
        <% if mapping.sync_all? %>
        <b>Sync all User Stories</b>
        <% else %>
          <%= mapping.label %>
        <% end %>

      </td>
    	<td class="buttons">
          <%= link_to 'Edit', edit_mapping_path(mapping), :class => 'icon icon-edit' %>
    	    <%= link_to 'Delete', mapping_path(mapping), :method => :delete, :data => {:confirm => l(:text_are_you_sure)}, :class => 'icon icon-del' %>
    	</td>
  	</tr>
    <% end %>
	</tbody>

</table>
